.statistics {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}
.list {
  list-style: none;
}

.list_item {
  padding-bottom: 5px;
}
.list_item:nth-child(1) {
  color: rgb(77, 230, 64);
}

.list_item:nth-child(3) {
  color: rgb(224, 49, 49);
}
.total {
  font-weight: 400;
}

.positive {
  font-weight: 400;
}
